* {
	margin: 0;
	padding: 0;
}
body {
	background: #eee;
}
.wrap {
	width: 980px;
	height: 1386px;
	margin: 0 auto;
	background: #ffffff;
	position: relative;
}
#header {	
	margin: 0 auto;
	width: 892px;
	height: 61px;
	border-bottom: 2px solid #938e8c;
	position: relative; 
}
#header .rect{
	width: 110px;
	height: 61px;
	background: #d45d5c;
	display: inline-block;
}
#header span {
	position: absolute;
	bottom: 5px;
}
#header .rect span {
	font-family: "黑体";
	font-size: 12px;
	color: #ffffff;	
	left:5px;
}
#header .date {
	display: inline-block;
}
#header .date span {
	font-family: "黑体";
	font-size: 12px;
	color: #d45d5c;	
	right:0;
}

#container {
	margin: 34px auto;
	width: 892px;
}
#container .banner {
	width: 892px;
	overflow: auto;
}
.banner .image{
	width: 641px;
	height: 301px;
	background:url(../img/task_06_1.jpg);
	float: left;
	position: relative; 
}
.banner .image .left {
	position: absolute;
	left: 0;
	width: 191px;
	height: 301px;
	z-index: 99;
	background: green;
	opacity: 0.3;
	filter:alpha(opacity=30);
}
.banner .image .right {
	position: absolute;
	right: 0;
	width: 191px;
	height: 301px;
	z-index:99; 
	background: purple;
	opacity: 0.3;
	filter:alpha(opacity=30);
}
.banner .text {
	width: 203px;
	height: 301px;
	float: right;
	border-top: 2px solid #cc8091;
	position: relative;
	overflow: hidden;
}
.banner .text .p1,
.banner .text .p2 {
	font-family: "Microsoft YaHei UI";
	font-size: 24px;
	font-variant: small-caps;
	color: #000000;
	text-decoration: underline;
	line-height: 40px;
}

.banner .text .p3 {
	font-size: 12px;
	font-family: "楷体";
	line-height: 10px;
	color: #676767;
}
.banner .text .p4 {
	font-size: 116px;
	font-family: "Microsoft YaHei UI";
	color: #75b86c;
	font-style: oblique;
	position: relative;
	left:-22px;
}
.text .p5 {
	font-family: "Microsoft YaHei UI";
	color: #cc8091;
	position: absolute;
	bottom: -11px;
}

.text .p5 .big {
	font-size: 55px;
}
.text .p5 .mid {
	font-size: 21px;
	position: absolute;
	bottom: 21px;
	left: 80px;
}
.text .p5 .sm {
	font-size: 12px;
	position: absolute;
	left: 80px;
	bottom: 12px;
}

#container .intro {
	width: 892px;
	height: 180px;
	margin: 34px auto;
	font-family: "Microsoft YaHei UI";
}

.intro .what {
	width: 228px;
	float: left;
}
.intro .what span {
	font-size: 16px;
	color: #418c59;
	font-weight: bold;
	text-decoration: underline;
}
.intro .what p {
	margin-top: 8px;
	font-size: 12px;
	color: #767777;
	font-family: "宋体";
	line-height: 16px;
}
.intro .when {
	margin: 0 30px;
	width: 207px;
	float: left;
}
.intro .when span {
	font-size: 16px;
	color: #d2994f;
	font-weight: bold;
	text-decoration: underline;
}
.intro .when p {
	margin-top: 8px;
	font-size: 12px;
	color: #231815;
	line-height: 16px;
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.intro .how {
	width: 140px;
	float: left;
	color: #231815;
}
.intro .how .span-h {
	font-size: 16px;
	color: #cc7680;
	font-weight: bold;
	text-decoration: underline;
}
.intro .how p.top {
	margin: 6px 0 16px 0; 
	font-size: 12px;
	line-height: 22px;
	opacity: 0.7;
	filter:alpha(opacity=70);
}
.intro .how p.bottom {
	font-size: 12px;
	line-height: 22px;
}
.intro .how p.bottom span {
	font-size: 12px;
	font-style: italic;
	color: #cd4a48;
	opacity: 0.7;
	filter:alpha(opacity=70);
}

#container .content {
	width: 892px;
	height: 605px;
	margin-top: 50px;
}

.content .info {
	width: 410px;
	height: 605px;
	float: left;
}
.content .info .title {
	height: 158px;
	border-bottom: 2px solid #11456b;
	margin-bottom: 32px; 

}
.content .info .title {
	font-family: "黑体";
	font-weight: bold;
}
.content .info .title .the {
	font-size: 72px;
	color: #f5e327;
	font-style: italic;
}
.content .info .title .text {
	font-size: 42px;
	color: #11456b;
	line-height: 16px;
}
.content .info .title .last {
	margin-top: 15px; 
	font-size: 33px;
	color: #11456b;
	line-height: 16px;
}
.content .info .para p{
	text-indent: 2em;
	font-size: 12px;
	color: #767777;
	font-family: "宋体";
	line-height: 16px;
}
.content .info .para p:first-child {
	text-indent: 0;
}
.content .info .para span{
	font-size: 70px;
	color: #f5e327;
	font-family: "Microsoft YaHei UI";
	float: left;
    line-height: 70px;
    margin: 0 4px 4px 0;
            
}
.content .info .para img {
	float: right;
	margin: 16px 0 16px 16px;
}
.content .section {
	width: 458px;
	height: 605px;
	float: right;
}

.content .section .image {
	width: 458px;
	height:275px;
	background: url(../img/task_06_2.jpg);
	position: relative;
}
.content .section .image .back {
	margin: 0;
	width: 458px;
	height: 61px;
	position: absolute;
	bottom: 0;
	z-index: 99;
	background: #333;
	opacity: 0.5;
}
.content .section .image .front {
	width: 372px;
	height:44px;
	border-left: 3px solid #72b16a;
	z-index: 100;
	position: absolute;
	left: 40px;
	bottom:8.5px;
	line-height: 44px;
}
.content .section .image .front .span1 {
	font-size: 26px;
	color: #ffffff;
	font-family: "Microsoft YaHei UI";
	margin-left: 20px;  
}

.content .section .image .front .span2 {
	font-size: 12px;
	font-family: "Microsoft YaHei UI";
	color: #72b16a;
	font-style: italic;
	letter-spacing: 140%;
}
.content .section .part {
	margin-top: 30px; 
	width: 459px;
	height: 318px;
	background: #eeedd6;
	position: relative;
}
.content .section .part .top {
	padding-top: 8px; 
}
.content .section .part .top p {
	font-size: 16px;
	font-family: "宋体";
	line-height: 20px;
	margin: 20px;  
	color: #5a5b5b;
}
.content .section .part .top span {
	font-size: 12px;
	font-family: "宋体";
	font-style: italic;
	color: #5a5b5b;
}

.section .part .bottom .left {
	width: 260px;
	height: 160px;
	position: absolute;
	left:0;
	bottom: 0;
	background: #d45d5c;
}
.section .part .bottom .left p {
	display: inline-block;
	font-size: 110px;
	font-family: "Microsoft YaHei UI";
	color: #ffffff;
	margin-left:8px;
	margin-top: 4px;  
}
.section .part .bottom .left div {
	display: inline-block;
	width: 168px;
	height: 86px;
	border-left: 2px solid #ffffff; 
	padding-left: 6px; 
}
.section .part .bottom .left div p {
	word-wrap:break-word;
}
.section .part .bottom .left p.bg {
	font-size: 21px;
	color: #ffffff;
	font-family: "黑体";
	line-height: 24px;
	font-style: italic;
	margin-left: 0; 
}
.section .part .bottom .left p.sm {
	margin: 3px 0 0 5px; 
	font-size: 12px;
	color: #ffffff;
	font-family: "黑体";
	line-height: 12px;
}
.section .part .bottom .right {
	width: 199px;
	height: 160px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.section .part .bottom .right p {
	/*display: inline;*/
	font-size: 14px;
	font-family: "黑体";
	color: #5a5b5b;
	font-style: italic;
	line-height: 16px;
	word-wrap:break-word;
	margin: 18px;
}
.section .part .bottom .right span.before {
	font-size: 72px;
	color: #d45d5c;
	font-family: "黑体";
	float: left;
	margin: 2px 14px 0 -24px;
	height: 26px;
}
.section .part .bottom .right span.after {
	font-size: 72px;
	color: #d45d5c;
	font-family: "黑体";
	float: left;
	margin: -38px 150px;
}
#footer {
	margin: 0 auto;
	height: 61px;
	width: 892px;
	border-top: 1px solid #938e8c;
	position: absolute;
	left: 44px;
	bottom: 0px;
}
#footer span {
	font-size: 12px;
	font-family: "黑体";
	color: #d45d5c;
	position: absolute;
	right: 0px;
}