* {	
	font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	background: #dedede;
	min-width: 925px;
}

#header {
	width: 100%;
	height: 68px;
	background: #333333;
	color: #fff;
}

#header .logo {
	/*background: green;*/
	width: 100px;
	height: 68px;
	float: left;
	padding: 0 0 0 80px;
}

#header .logo img {
	
}

#header .nav {
	/*border: 1px solid black;*/
	height: 68px;
	float: right;
	line-height: 68px;
	padding: 0 20px;
}

#header ul,
#header li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#header ul {
	/*background: yellow;*/
	height: 68px;
}

#header ul li {
	height: 68px;
	padding: 10px;
	display: inline;
}

#header ul li a {
	color: #fff;
	text-decoration: none;
}

.left {
	margin:0 430px 0 0; 
}

.right {
	width: 430px;
	float: right;
}
.content {
	margin: 22px;
	padding: 20px 24px;
	background: #fff;
	box-shadow: 3px 3px 2px #848484;
}

.article-1 h3,
.article-1 span,
.article-2 h3,
.article-2 span,
.article-3 h3,
.article-3 span{
	color: #666;
}

.article-1 .p,
.article-2 .p{
	text-indent: 2em;
	line-height: 180%;
}

.article-2 .list {
	padding: 10px 0 0 0;
}
.article-2 .list ul li {
	padding: 2px 0;
	list-style-type: none;
}
.picture {
	margin: 22px;
	padding: 20px 24px;
	background: #fff;
	box-shadow: 3px 3px 2px #848484;
	overflow: auto;
}
.picture dl dd {
	border: 1px solid #c9c9c9;
	width: 110px;
	height: 100px;
	text-align: center;
	padding: 12px;
	margin: 12px;
	float: left;
}

.picture dl dd div {
	margin: 12px 0;
}
.picture dl dd img {
	width: 110px;
}
.article-3 ol li{
	padding: 2px 0;
	font-size: 15px;
	font-weight: bold;
}
.article-3 table{
	border-collapse: collapse;
	width: 100%;
}
.article-3 table td,
.article-3 table th {
	border: 1px solid #cecece;
	padding: 4px;
	text-align: left;
}
.article-3 table thead {
	background: #333333;
	color: #fff;
}
.article-3 table tfoot {
	background: #ccc;
}

.asider {
	margin: 22px 22px 22px 0;
	padding: 20px 24px;
	background: #fff;
	box-shadow: 3px 3px 2px #848484;
}
.asider h3{
	height: 38px;
	line-height: 38px;
	padding-left: 12px;
	border-left: 3px solid #ccc;
}
.asider .info {
	width: 100%;
}

.asider .email span,
.asider .password span,
.asider .sex span,
.asider .city span,
.asider .prefer span,
.asider .detail span { 
	width: 32%;
	padding-right: 5px;
	display: inline-block;
	text-align: right;
}
.asider .email p,
.asider .password p {
	padding-left: 36%;
	color: #a5a3a4;
	font-size: 12px;
}
.asider .email,
.asider .password,
.asider .others {
	margin: 24px;
}
.asider .email input,
.asider .password input {
	width: 128px;
	padding: 3px;
}
.asider .password div{
	margin: 12px 0;
}

.asider .others div {
	margin: 12px 0;
}

.asider .detail span{
	vertical-align: top;
}

.asider .sub input{
	width: 100%;
	height: 40px;
	font-size: 16px;
	background: #3355d0;
	color: #fff;
	border-radius: 12px;

}
#footer {
	width: 100%;
	height: 80px;
	background: #000;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}